@import url('https://rsms.me/inter/inter.css');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --ifm-heading-font-family: 'Inter'
}
.prose tbody td:first-child {
  padding-left:1.25em; 
}

.language-card a {
  text-decoration: none !important;
}

.language-card:hover .overlay {
  display: flex;
}

.overlay {
  display: none;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */ 
}